<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Reen</title>
  </head>
  <body>
      <header class="main-header">
          <div class="contact-links">
              <div class="container"> 
                  <ul class="contact-info">
                    <li>
                      <a href="#" class="contact-mail">
                          <img src="img/icon-mail-1.png" width="11" height="9" alt="info@reen.com">
                      </a>                      
                    </li>
                    <li>
                      <p>info@reen.com</p>
                    </li>
                    <li>
                      <a href="#" class="mobile">
                          <img src="img/icon-mobile.png" width="7" height="13" alt=" +00(123)4567890">
                      </a>
                    </li>
                    <li>
                      <p>+00(123)4567890</p>
                    </li>
                  </ul>
                  <ul class="social-icons">
                    <li>
                      <a class="social-btn-facebook" href="#">
                        <img src="img/icon-s-facebook.png" width="6" height="11" alt="Facebook">
                      </a>
                    </li>
                    <li>
                      <a class="social-btn-gplus" href="#">
                        <img src="img/icon-s-gplus.png" width="11" height="11" alt=" Gplus">
                      </a>
                    </li>
                    <li>
                      <a class="social-btn-twitter"  href="#">
                        <img src="img/icon-s-twitter.png" width="11" height="9" alt="Twitter">
                      </a>
                    </li>
                    <li>
                      <a class="social-btn-pinterest" href="#">
                        <img src="img/icon-s-pinterest.png" width="9" height="11" alt=" Pinterest">
                      </a>
                    </li>
                    <li>
                      <a class="social-btn-behance" href="#">
                        <img src="img/icon-s-behance.png" width="13" height="9" alt=" Behance">
                      </a>
                    </li>
                    <li>
                      <a class="social-btn-dribbble" href="#">
                        <img src="img/icon-s-dribbble.png" width="12" height="11" alt="Dribbble">
                      </a>
                    </li>
                  </ul>
              </div>
          </div>
          <div class="main-header-wrapper">
            <div class="container">
              <nav class="main-navigation">
                <a class="main-header-logo">
                  <img src="img/logo.svg" width="161" height="40" alt="Logo REEN">
                </a>
                <ul class="site-navigation">
                  <li><a href="home.html">Home</a></li>
                  <li><a href="portfolio.html">Portfolio</a></li>
                  <li><a href="blog.html">Blog</a></li>
                  <li><a href="pages.html">Pages</a></li>
                  <li><a href="features.html">Features</a></li>
                  <li><a href="megamenu.html">Mega Menu</a></li>
                  <li><a href="contact.html">Contact</a></li>
                </ul>
                <ul class="search">
                  <li>
                    <a class="search-icon" href="search.html">
                      <img src="img/icon-search.png" width="12" height="12" alt="Search">
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
      </header>
      <main>
       <div class="slide" >
         <input type="radio" name="slider" id="slider_1" checked="checked">
         <label for="slider_1"></label>
            <div class="slider slider_text1">
              <h1>Made for Designers</h1>
              <p>Create your online portfolio in minutes with
                 the professionally and lovingly designed REEN</br>
                 website template. Customize your site with versatile
                 and easy to use features.</p>
              <img src="img/image-1.jpg">
              <a class="button-slide-1" href="#">Get Started Now</a>    
            </div>
              <input type="radio" name="slider" id="slider_2">
              <label for="slider_2"></label>
            <div class="slider slider_text2">
              <h1>Fresh and</br> beautiful design</h1>
              <p>REEN is designed to showcase your talent and
                 put your work in the forefront.</br>
                 Professionally use of typography and layout 
                 that fits your content.</p>
              <img src="img/image-2.jpg">
              <a class="button-slide-2" href="#">Get Started Now</a>    
            </div>
                            
              <input type="radio" name="slider" id="slider_3">
              <label for="slider_3"></label>
            <div class="slider slider_text3">
              <h1>Clean and</h1>
              <h1>reusable code</h1>
              <p>The clean code allows you to easily copy code
                 blocks from content</br>
                 modules and past them in different places or layouts.</p>
              <img src="img/image-3.jpg">
              <a class="button-slide-3" href="#">Get Started Now</a>    
            </div>
              <input type="radio" name="slider" id="slider_4">
              <label for="slider_4"></label>
            <div class="slider slider_text4">
              <h1>Just focus on</h1>
              <h1>your creativity</h1>
              <p>Take a break from messing around with heavy
                 coding and spend your</br>
                 time brainstorming ideas for your next project.</p>
              <img src="img/image-4.jpg">
              <a class="button-slide-4" href="#">Get Started Now</a>    
            </div>
              <input type="radio" name="slider" id="slider_5">
              <label for="slider_5"></label>
            <div class="slider slider_text5">
              <h1>Showcase</br> your content</h1>
              <p>With REEN you have the possibility to create 
                websites for various contents</br>
                quickly and easily. Now it's up to you!</p>
              <img src="img/image-5.jpg">
              <a class="button-slide-5" href="#">Get Started Now</a>    
            </div>
       </div>
       <section class="whoweare">
         <h1>Beautiful. Clean. Responsive.</h1>
         <p>REEN is a high-quality solution for those
            who want a beautiful website in no time. 
            It's fully responsive and will adapt itself to any mobile device.
             iPad, iPhone, Android,
            it doesn't matter. Your content will always looks its absolute best.</p>
         <div class="advantages">
           <div class="advantages_text1">
             <h1>Passion</h1>
             <p>Magnis modipsae que lib voloratati
                andigen daepeditem quiate re porem
                aut labor. Laceaque quiae sitiorem rest
                non restibusaes maio es dem tumquam
                core posae volor remped modis volor.</p>
             <img src="img/icon-heart-empty-1.png">   
           </div>
           <div class="advantages_text2">
             <h1>Creativity</h1>
             <p>Magnis modipsae que lib voloratati
               andigen daepeditem quiate re porem
               aut labor. Laceaque quiae sitiorem rest
               non restibusaes maio es dem tumquam
               core posae volor remped modis volor.</p>
             <img src="img/icon-lamp.png">  
           </div>
           <div class="advantages_text3">
             <h1>Quality</h1>
             <p>Magnis modipsae que lib voloratati
                andigen daepeditem quiate re porem
                aut labor. Laceaque quiae sitiorem rest
                non restibusaes maio es dem tumquam
                core posae volor remped modis volor.</p>
             <img src="img/icon-star-empty-1.png">   
           </div>
         </div>
       </section>
      
      </main>
    </body>
</html>    
