.button {
  text-transform: uppercase;
  letter-spacing: .03em;
  color: #fff;
  background: #00bc9c;
  border-radius: 3px;
  box-shadow: 0 -2px rgba(0, 0, 0, .15) inset;
  
  &:hover {
    color: #fff;
    background-color: #2ef0cf;
  }

  &--slider {
    padding: 23px 70px;
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
  }

  &--cooperation {
	  display: inline-block;
	  padding: 16px 27px;
	  margin-top: 36px;
	}
}