.header {
  background-color: #fff;
}

.contact-links {
  background-color: #f5f7fa;
}

.contact-info li {
  display: inline-block;
  margin-right: 10px;
}

.contact-info span {
  margin-left: 8px;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-icons li {
  margin-right: 20px;
}

.social-icons li:last-child {
  margin-right: 10px;
}

.main-navigation {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 112px;
}

.site-navigation {
  display: flex; 
  flex-wrap: wrap;
  width: 803px;
  text-transform: uppercase;
}

.site-navigation a {
  display: block;
  padding: 48px 22px;
}

.search {
  display: flex;
  margin-right: 10px;
  align-items: center;
}