.header {
  background-color: #fff;

  &__wrapper {
    background-color: #f5f7fa;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__logo {
    width: 161px;
    height: 40px;
  }

  &__item {
    margin-right: 10px;

    .header__list--social & {
      margin-right: 20px;

      &--last {
        margin-right: 10px;
      }
    }
  }

  &__info {
    margin-left: 8px;
  }
}

.main-menu {
  display: flex; 
  flex-wrap: wrap;

  &__link {
    display: block;
    padding: 48px 22px;
    text-transform: uppercase;
  }
}

.search {
  display: flex;
  margin-right: 10px;
  align-items: center;

  &__img {
    width: 12px;
    height: 12px;
  }
}