.header {
  background-color: #fff;

  &__wrapper {
    background-color: #f5f7fa;
  }

  &__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__item {
    margin-right: 10px;

    .header__list--social & {
      margin-right: 20px;

      &--last {
        margin-right: 10px;
      }
    }
  }

  &__info {
    margin-left: 8px;
  }

  &__img {
    width: 13px;
    height: 11px;
  }
}

.site-navigation {
  display: flex; 
  flex-wrap: wrap;

  
}

.site-navigation a {
  display: block;
  padding: 48px 22px;
  text-transform: uppercase;
}

.search {
  display: flex;
  margin-right: 10px;
  align-items: center;
}