/*слайдер*/
.slider {
  position: relative;
  width: 100%;

  &__img {
    width: 100%;
    min-height: 886px;
    background-color: #a3b1bf;

    @media (max-width: 992px) {
      min-height: 686px;
    }

    @media (max-width: 320px) {
      min-height: 250px;
    }
  }

  &__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    
    &--left {
      text-align: start;
    }

    &--right {
      text-align: end;
    }
  }

  &__title {
    padding-bottom: 10px;
    font-size: 78px;
    line-height: 88px;
    letter-spacing: .06em;
    text-transform: uppercase;
    color: #fff;

    @media (max-width: 992px) {
      font-size: 58px;
    }

    @media (max-width: 768px) {
      font-size: 56px;
    }

    @media (max-width: 320px) {
      padding-bottom: 0;
      font-size: 20px;
      line-height: 20px;
    }
    
    &--grey {
      display: inline-block;
      padding: 20px 40px;
      background-color: #506a85;
    }
  }

  &__text {
    padding: 30px 0 100px;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: .02em;
    font-weight: normal;
    color: #a3b1bf;

    @media (max-width: 992px) {
      font-size: 22px;
    }

    @media (max-width: 768px) {
      font-size: 17px;
      line-height: 25px;
    }

    @media (max-width: 320px) {
      padding-bottom: 15px;
      font-size: 12px;
      line-height: 15px;
      margin: 0;
    }
  }
}

.pagination {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: -18px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 145px;
  min-height: 45px;
  margin: 0 auto;
  padding: 0 5px;
  border-radius: 3px;
  background-color: #fff;

  @media (max-width: 768px) {
    min-width: 125px;
    min-height: 35px;
  }
  @media (max-width: 320px) {
    min-width: 70px;
    min-height: 30px;
  }
  
  &__item {
    cursor: pointer;
    min-width: 15px;
    min-height: 15px;
    border-radius: 50%;
    background: #506a85;

    @media (max-width: 320px) {
      min-width: 10px;
      min-height: 10px;
    }
    
    &:hover {
      background-color: #acb7c2;
    }
  
    &--active {
      background-color: #00bc9c;

      &:hover {
        background-color: #00bc9c;
      }
    }
  }
}

.arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;

  &__icon {
    cursor: pointer;
    min-width: 60px;
    min-height: 60px;
    background: rgba(80, 106, 133, .75) no-repeat 20px 15px;
    opacity: .5;

    @media (max-width: 768px) {
      min-width: 50px;
      min-height: 50px;
      background: rgba(80, 106, 133, .75) no-repeat 20px 10px;
    }

    @media (max-width: 320px) {
      min-width: 30px;
      min-height: 30px;
      background: rgba(80, 106, 133, .75) no-repeat 10px 3px;
    }

    &:hover {
      opacity: .8;
    }
  
    &--left {
      background-image: url(../img/icon-left-open-mini.png);
    }
   
    &--right {
      background-image: url(../img/icon-right-open-mini.png);
    }
  }
}