body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #506a85;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: #506a85;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1 {
  margin: 0;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 0;
  border: 1px solid green;
}

.header {
  background-color: #fff;
}

.contact-links {
  background-color: #f5f7fa;
}

.wrapper-flex {
  display: flex;
  justify-content: space-between;
}

.wrapper-flex-header {
  padding: 10px 0;
}

.wrapper-flex-portfolio-small {
  padding-bottom: 200px;
}

.wrapper-flex-footer-nav {
  width: 370px;
  align-items: center;
}

.wrapper-flex-footer-info {
  min-height: 365px;
}

.wrapper-flex-footer-ending {
  min-height: 83px;
  align-items: center;
}
.contact-info li {
  display: inline-block;
  margin-right: 10px;
}

.contact-info span {
  margin-left: 8px;
}

.social-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social-icons li {
  margin-right: 20px;
}

.social-icons li:last-child {
  margin-right: 10px;
}

.main-navigation {
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 112px;
}

.site-navigation {
  display: flex; 
  flex-wrap: wrap;
  width: 803px;
  text-transform: uppercase;
}

.site-navigation a {
  display: block;
  padding: 48px 22px;
}

.search {
  display: flex;
  margin-right: 10px;
  align-items: center;
}

@import "slider.less";
@import "features-list.less";
@import "portfolio.less";
@import "cooperation.less";
@import "footer.less";




