.wrapper-flex {
  display: flex;
  justify-content: space-between;

  @media (max-width: 992px) {
    padding: 0 10px;
  }

  &--mobile {
    @media (max-width: 768px) {
      flex-direction: column;
    }    
  }

  &--wrap {
    flex-wrap: wrap;
  }

  &--header {
    align-items: center;
  }
 
  &--portfolio-small {
    padding-top: 80px;
    padding-bottom: 200px;
  }

  &--footer-nav {
    width: 370px;
    align-items: center;
  }

  &--footer-info {
    min-height: 365px;
  }

  &--page-footer {
    min-height: 83px;    
    align-items: center;

    @media (max-width: 992px) {
      margin-right: 50px;
    }
  }
}