.wrapper-flex {
  display: flex;
  justify-content: space-between;

  &--wrap {
    flex-wrap: wrap;
  }

  &--header {
    align-items: center;
    min-height: 112px;
  }

  &--top-header {
    padding: 10px 0;
  }

  &--portfolio-small {
    padding-bottom: 200px;
  }

  &--footer-nav {
    width: 370px;
    align-items: center;
  }

  &--footer-info {
    min-height: 365px;
  }

  &--footer-ending {
    min-height: 83px;
    align-items: center;
  }
}